<div class="side_container">
  <div class="container-fluid">
    <div class="main-page">
      <div class="row m-0 mt-3">
        <div class="col-md-3 admin-brdcmb mt-0">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/dashboard">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">404</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row m-0">
        <div class="row m-0 buttons">
          <div class="w-30">
          </div>
        </div>
        <div class="col-lg-12 mt-3">
          <div class="main-div">
            <h1 style="text-align: center;">404</h1>
            <h1 style="text-align: center;" class="text-muted">Page Not Found</h1>
            <a routerLink="/dashboard">Dashboard</a>
            <br>
            <a routerLink="/login">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->