<div class="acs-server-popup" *ngIf="testPopUp2 == 'server'">
    <div class="circle bg-red">
      <mat-icon>close</mat-icon>
    </div>
    <div class="content">
        <h3> {{'USER-ACCESS-GROUP.OFFLINE' | translate}} </h3>
    </div>
    <div class="btn-div">
        <div>
            <button mat-stroked-button class="btn-h-w btn-blue" matDialogClose>
                {{'USER-ACCESS-GROUP.OK' | translate}}
            </button>
        </div>
    </div>
</div>


  <ng-container  *ngIf="testPopUp == 'tabletest'">
    <mat-dialog-content class="dialog-main">
        <div class="container-fluid user-access-group door-list-popup">

            <section class="visitor-list">
                <h2>{{ "USER-ACCESS-GROUP.TICK" | translate }}</h2>

                <div class="table-responsive">
                  <table class="table table-striped table-bordered table-w">
                    <thead>
                      <tr>
                        <th scope="col">{{ "USER-ACCESS-GROUP.ID" | translate }}</th>
                        <th scope="col">{{ "USER-ACCESS-GROUP.USERACCESS" | translate }} </th>
                        <th scope="col">{{ "USER-ACCESS-GROUP.REMARKS" | translate }}</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="userAccessGroupList">
                      <ng-container *ngFor="let user of userAccessGroupList;let i=index">
                        <tr>
                          <td>
                            <div>
                             <section  class="example-section">
                              <mat-checkbox (change)="onSelect(user,i)" class="example-margin"
                              [checked]="user?.isSelected"></mat-checkbox>
                             </section>
                            </div>
                          </td>
                          <td>{{user?.property_value_map.name}}</td>
                          <td>
                            <div class="form-group w-45  input-fildcl">
                                <div class="">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input type="text" maxlength="100" matInput [disabled]="user?.isSelected"
                                        [(ngModel)]="selectedRemarks[i]" 
                                        placeholder="Enter Remarks"/>
                                    </mat-form-field>
                                </div>
                            </div>
                        </td>
                          <!-- <td>{{(user?.property_value_map?.remarks) ? (user?.property_value_map?.remarks) : 'NA'}}</td> -->
                        </tr>
                      </ng-container>

                    </tbody>
                  </table>
                </div>
              </section>
        </div>
    </mat-dialog-content>
    <div class="all-paginator">
      <pagination [paginationList]="pagination" [selectedPageLimit]="currentPageLimit"
      [currentPage]="currentPage" (onPageChange)="getPage($event)" [lastPage]="lastpage">
    </pagination>
  </div>

    <div class="btn-div">
        <div>
            <button mat-stroked-button class="btn-h-w btn-green" (click)="saveUserAccessGroup()">
                {{'MOM_API.SAVE' | translate}}
            </button>

            <button mat-stroked-button class="btn-h-w btn-gray"  matDialogClose (click)="close()">
                {{'MOM_API.CLOSE' | translate}}
            </button>
        </div>
    </div>
</ng-container>
