<section class="visitor-addmision main-page">
    <div class="container">
      <div class="visitor-addmission-inner">
        <!-- <div class="table-entries-header">
          <div class="show">
            <button mat-stroked-button color="black" class="btn-back">
              <mat-icon>arrow_back</mat-icon>
              {{ "BUTTON.BACK" | translate }}
            </button>
          </div>
          <div class="filters">
            <button class="d-flex align-items-center" routerLink="/report/add-daily-entry"><mat-icon>add</mat-icon> Add </button>
            <button>
              <span><img src="assets/images/excel.svg" /></span> Export to Excel
            </button>
            <div class="search-box">
              <input type="text" name="search" placeholder="Search Visitor..." class="search" />
              <img src="assets/images/search.svg" class="img-search" alt="search-img" />
            </div>
            <mat-form-field appearance="fill">
              <mat-label><img src="assets/images/filter.svg" /> &nbsp; Filter</mat-label>
              <mat-select>
                <mat-option>
                  <mat-checkbox>Select All</mat-checkbox>
                </mat-option>
                <mat-option>
                  <mat-checkbox>Name</mat-checkbox>
                </mat-option>
                <mat-option>
                  <mat-checkbox>ID Type</mat-checkbox>
                </mat-option>
                <mat-option>
                  <mat-checkbox>ID No.</mat-checkbox>
                </mat-option>
                <mat-option>
                  <mat-checkbox>Work Description</mat-checkbox>
                </mat-option>
                <mat-option>
                  <mat-checkbox>Company Name</mat-checkbox>
                </mat-option>
                <mat-option>
                  <mat-checkbox>Access Card Name</mat-checkbox>
                </mat-option>
                <mat-option>
                  <mat-checkbox>Exit Date</mat-checkbox>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div> -->
  
        <section class="visitor-list">
          <h2>{{ "VISITORS.PAGE-NAME" | translate }}</h2>

          <h1>No Record Found</h1>

        </section>
      </div>
    </div>
  </section>
  <app-footer></app-footer>