<div class="notification-dropdown">
    <h5 class="card-title px-3 pt-2 mb-0">Notifications</h5>
    <div class="p-3">
        <div class="timeline timeline-border">
            <div class="timeline-list">
                <div class="timeline-info">
                    <small class="text-muted" title="Profile">PM</small>
                </div>
            </div>
            <div class="timeline-list timeline-border timeline-primary">
                <div class="timeline-info">
                    <div>Skype call with development team</div><small class="text-muted">07/07/18, 1:00
                        PM</small>
                </div>
            </div>
            <div class="timeline-list  timeline-border timeline-accent">
                <div class="timeline-info">
                    <div>Programming control system</div><small class="text-muted">07/09/18, 10:00 AM -
                        6:00
                        PM</small>
                </div>
            </div>
            <div class="timeline-list  timeline-border timeline-success">
                <div class="timeline-info">
                    <div>Lunch with Peter Higgs</div><small class="text-muted">07/10/18, 12:00
                        PM</small>
                </div>
            </div>
            <div class="timeline-list  timeline-border timeline-warning">
                <div class="timeline-info">
                    <div><a href="#"><strong>Approve Request</strong></a> for new training material by
                    </div>
                    <small class="text-muted">07/11/18, 9:00 AM</small>
                </div>
            </div>
            <div class="timeline-list  timeline-border timeline-info">
                <div class="timeline-info">
                    <div><a href="#"><strong>RSVP</strong></a> for this year's hackathon.</div><small
                        class="text-muted">07/11/18, 1:30 PM</small>
                </div>
            </div>
        </div>
    </div>
</div>