:root {
  --black: #000;
  --white: #fff;

  --light-black: rgb(11, 11, 11);
  --input-line-color:#adadad;
  --light-gray-color:#a4a4a4;


  --bg-gradient: linear-gradient(to right, #04393d, #02484a, #025756, #056662, #0e766d);
  --bg-gradient-back: linear-gradient(to right, #0e766d, #056662, #025756, #02484a, #04393d);
  --green:#03B39D;
  --main-color:#effcf4;
  --color-primary: #198754;
  --color-gray:#878787;
  --color-secondary: #198754;
 
  --color-blue:#5294e2;
  --color-destructive: #d53e3e;
  --bg-orange:#F8670D;
  --light-orange:#F0C9B9;
  --dark-green:#016061;
  --green-o:#3fec6b;  
  --body-color:#F8FFFE;
  --light-green:#EFFFFF;
  --med-green:#3DE3DC;
  --dark-green:#0F4346;
  --mint-green:#00CFE5; 
  --continue-green:#52D6C8;  
  --copy-green:#2a7a72;
  --copy-border:#1d5a55;
  --theme-green:#105b58;
  --mint-light-green:#44B6C2;
  --green-dark:#04453D;
  --green-light:#0B9584;
  --head-green:#105855;
  --bg-textbox:rgba(238, 243, 245, 0.1);
  --bg-card:rgb(239 255 255);
  --border-light:rgba(238, 243, 245, 0.2);
  --popup-text:#188572;
  --bg-gradient:linear-gradient(90deg, #043A3D 0%, #0F786F 100%);
  --dim-green:#C9F5F2;
  --btn-primary:#F9E64A;
  --border-primary:#EAD22E;
  --circlr-border:#B0F4F4;
  --circle-bg:#29C4C4;
  --circle-shadow:0px 3px 6px rgb(0 0 0 / 16%);
  --even:#F9FFFE;
  --odd:#ECF9F7;
  --odd-border:#CCF5F0;
  --page-border:#065E50;
  --border-clr:#BDD3D0;
  --badge:#3DEFDF;
  --light-till:#89F3FF;
  --dim-till:#C5F5ED;
  --light-red:#E43370;
  --light-gresh:#53AD57;
  --dark-gresh:#323237;
  --nav-bgcolor:#065E50;
  --table-l-green:#F9FFFE;
  --btn-prev:rgba(3, 179, 157, 0.33);
  --bg-box:#035349fc;
  --border-bg:#014a42fc;
  --nav-border:#f25522;
  --footer-bg:#dedede;
  --footer-color:#03b39d;
  --visitor-header:#63747e;
  --gray-light:#8f8a8b;
  --gray-light2:#e4e4e4;
  --font-clr:#686868;
  --dark-gray:#313131;
  --gray2:#837d82;
  --dark-blue:#232f35;

  --color-label: rgb(187 178 178); 
  --parrot-green: rgb(3 195 80);
  --light-gray: #f0f5f4;
  --dark-gray: #dee0e0;

  --button-bg:#03B39D;

  --form-filed-input: #44B6C2;
   --red:#ff0000;








}
