.footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;

    p{
        color: var(--black);
        margin: 0px;
        .sen{
            color: var(--green);
        }

        .ene{
            color: var(--bg-orange);
        }

        a{
            text-decoration: none;
            color: var(--black) ;
            margin-left: 12px;
            &:hover{
                color: var(--green);
            }
        }
    }


    @media (max-width: 767px) {
    flex-wrap: wrap;
    }

    @media (min-width: 1024px) { 
        padding: 10px 40px;
        }
}

