<div class="side_container">
  <div class="container-fluid">
    <div class="main-page">
      <div class="row m-0 mt-3">
        <div class="col admin-brdcmb mt-0">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
              <li class="breadcrumb-item active" routerLink="/role" aria-current="page">Role</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row m-0">
        <div class="w-30">
          <search-box (text)="searchObject($event)" [placeholder]="'Search'"></search-box>
        </div>

        <div class="adbtn col">
          <button *ngIf="permissionObject?.add" mat-raised-button routerLink="add" color="primary" class="mr-5"><a>+
              Add</a></button>
        </div>
        <div class="col-lg-12 mt-3">
          <!--  -->
          <div class="main-div">
            <div class="admin-table">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"> Name <img src="assets/images/filter2.png"></th>
                    <th scope="col"> Role Description </th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of objectArray">
                    <td>{{item.roleName}} </td>
                    <td>{{item.description}}</td>
                    <td>
                      <button *ngIf="permissionObject?.edit" [routerLink]="['edit', item?.id]"
                        class="btn btn-green text-success">
                        <mat-icon _ngcontent-qca-c128="" role="img"
                          class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true"
                          data-mat-icon-type="font">edit</mat-icon>
                      </button>
                      <button *ngIf="permissionObject?.delete" (click)="onDelete(item)" class="btn btn-red text-danger">
                        <mat-icon _ngcontent-qca-c128="" role="img"
                          class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true"
                          data-mat-icon-type="font">delete</mat-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="mt-3">
              <pagination [paginationList]="pagination" [selectedPageLimit]="currentPageLimit"
                [currentPage]="currentPage" (onPageChange)="getPage($event)">
              </pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
