                          <div class="green-bg">
                            <section class="main-page mom">
                                <div class="container">
                                    <!-- <p>user-access-group-list works!</p> -->
                                    <div class="user-access-group">
                                      <h2 class="form-hadding">{{ "BADGE-GROUP.BUDGE_HEADING" | translate }}</h2>

                                      <div class="system-log-form addusers">
                                        <mat-accordion>
                                          <mat-expansion-panel [expanded]="1" (opened)="setStep1(0)" (closed)="panelOpenState1 = false" hideToggle>
                                       <mat-expansion-panel-header #panelH1 (click)="panelH1._toggle()">
                                        <mat-panel-title class="d-flex justify-content-between align-items-center">
                                          <!-- <h3>{{ "LOGS.SUB_HEAD" | translate }}</h3> -->
                                        </mat-panel-title>

                                        <mat-icon matTooltip="expand_more" *ngIf="!panelOpenState1" (click)="panelH1._toggle()">expand_more
                                        </mat-icon>
                                        <mat-icon matTooltip="expand_less" *ngIf="panelOpenState1" (click)="panelH1._toggle()">expand_less
                                        </mat-icon>
                                      </mat-expansion-panel-header>
                              
                                     <form class="badge-group-form">
                                      <div class="row">
                                        <div class="col-md-6 add-feild">
                                          <label>Contractors Badge Group</label>
                                          <div class="form-group vmsadd">
                                            <mat-form-field appearance="outline" class="w-100">
                                              <mat-select class="readonly-block"
                                              placeholder="Select" [(ngModel)]="selectedgroupList"
                                              [formControl]="addForm.controls['contractorGroupId']">
                                                <mat-option *ngFor="let badgeGroupList of userbadgeGroupList" [value]="badgeGroupList?.id"> 
                                                  {{badgeGroupList?.id}} - {{badgeGroupList?.badgeGroupName}}
                                                 </mat-option>
                                            </mat-select>
                                            </mat-form-field>
                                          </div>
                                        </div>
                              
                                        <div class="col-md-6 add-feild">
                                          <label>Visitors Badge Group</label>
                                          <div class="form-group vmsadd">
                                            <mat-form-field appearance="outline" class="w-100">
                                              <mat-select class="readonly-block"
                                              placeholder="Select" [(ngModel)]="selectedgroup2List"
                                              [formControl]="addForm.controls['visitorsGroupId']">
                                              <mat-option *ngFor="let badgeGroupList of userbadgeGroupList" [value]="badgeGroupList?.id"> 
                                                {{badgeGroupList?.id}} - {{badgeGroupList?.badgeGroupName}}
                                               </mat-option>
                                            </mat-select>
                                            </mat-form-field>
                                          </div>
                                        </div>
                                        <div class="justify-content-end d-flex mt-4">
                                          <div class="button-save">
                                            <!-- <label>&nbsp;</label> -->
                                            <div class="justify-content-end d-flex">
                                            <button class="btn-style btn-save" mat-raised-button (click)="saveBadgeGroupMapping()">
                                              {{ "VISITOR_LIST.SAVE" | translate }}
                                            </button>
                                            <button class="btn-style btn-cancel" mat-raised-button *ngIf="panelOpenState1" (click)="panelH1._toggle()">
                                              {{ "VISITOR_LIST.CLOSE" | translate }}
                                            </button>
                                          </div>
                                          </div>
                                        </div>
                                      </div>
                                     </form>

                                    </mat-expansion-panel>
                                    </mat-accordion>
                                    </div>




                                        <div class="table-entries-header mb-3">
                                         
                                          <div class="filters">
                                           
                                            <!-- <div class="search-box">
                                              <search-box  (text)="searchObject($event)"  [placeholder]="'Search here...'"></search-box>
                                            </div> -->
                        
                                            <div class="show">
                                              <button mat-stroked-button color="black" class="btn-back" (click)="goBack()">
                                              <mat-icon>arrow_back</mat-icon>
                                              {{ "BUTTON.BACK" | translate }}
                                            </button>
                                            </div>
                                            <!-- <button mat-raised-button class="add_user" (click)="testAcsServer()">
                                              Import Badge Groups
                                          </button> -->
                                          <button mat-raised-button class="add_user" (click)="openDialog()">
                                            {{ "BADGE-GROUP.SYNC_BADGE" | translate }}
                                          </button>
                                          </div>
                                        </div>
                                  
                                        <section class="visitor-list">
                                          <div class="table-responsive">
                                            <table class="table table-striped table-w">
                                              <thead>
                                                <tr>
                                                  <th scope="col">{{'BADGE-GROUP.ID' | translate}} <img (click)="sortData('id')" src="assets/images/sort.png"></th>
                                                  <th scope="col">{{'BADGE-GROUP.BADGE_GROUP' | translate}} <img (click)="sortData('badgeGroupName')" src="assets/images/sort.png"></th>
                                                  <th scope="col">{{'BADGE-GROUP.GROUP_ID' | translate}} <img (click)="sortData('groupID')" src="assets/images/sort.png"></th>
                                                  <th scope="col">{{'BADGE-GROUP.ACTION' | translate}}</th>
                                                </tr>
                                              </thead>
                                              <tbody *ngIf="userbadgeGroupList?.length && permissionObject?.list">
                                                  <tr *ngFor="let badgeGroupList of userbadgeGroupList;let i=index">
                                                    <td>{{badgeGroupList?.id}}</td>
                                                    <td>{{badgeGroupList?.badgeGroupName}}</td>
                                                    <td>{{badgeGroupList?.groupID}}</td>
                                                    <td>
                                                      <!-- <button><mat-icon class="edit" >edit</mat-icon></button> -->
                                                      <button>
                                                        <mat-icon class="delete" (click)="deleteUserAccessGroup(badgeGroupList)">
                                                         delete
                                                        </mat-icon>
                                                      </button>
                                                    </td>
                                                  </tr>
                        
                                              </tbody>
                                              <ng-container>
                                                <tr>
                                                  <td colspan="4" *ngIf="!userbadgeGroupList?.length">
                                                <p class="datafound">{{'PROFILE.NO_DATA' | translate}} </p>
                                              </td>
                                            </tr>
                                              </ng-container>
                                            </table>
                                          </div>
                                  
                                          <div class="all-paginator" *ngIf="userbadgeGroupList?.length && permissionObject?.list">
                                            <pagination [paginationList]="pagination" [selectedPageLimit]="currentPageLimit"
                                            [currentPage]="currentPage" (onPageChange)="getPage($event)" [lastPage]="lastpage">
                                          </pagination>
                                          </div>
                                        </section>
                                      </div>
                        
                        
                                </div>
                            </section>
                        </div>                          