<div class="green-bg">
<section class="visitor-addmision main-page" *ngIf="permissionObject?.list">
  <div class="container">
    <div class="visitor-addmission-inner">

      <h2 class="form-hadding">{{'USER_ACCOUNTS.USERACCOUNT'|translate}}</h2>
      <div class="show mb-3">
        <button mat-stroked-button color="black" class="btn-back" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        {{ "BUTTON.BACK" | translate }}
      </button>
      </div>
      <div class="table-entries-header mb-3">

        

        <div class="filters">
          <!-- <div class="search-box">
            <search-box  (text)="searchObject($event)"  [placeholder]="'Enter Text...'"></search-box>
          </div> -->
          <div class="buttonfilter">
            <div class="add-feild firsttext">
            
              <div class="form-group vmsadd">
                <mat-form-field appearance="outline">
                  <input  [(ngModel)]="text"  matInput [placeholder]="'Enter Text Here'" />
                </mat-form-field>
              </div>
            </div>
            <div class="add-feild firsttext">
              <!-- <label>{{ "LOGS.ERROR" | translate }}</label> -->
              <div class="form-group vmsadd">
                <mat-form-field appearance="outline">
                  <!-- <mat-label>{{ 'LOGS.DATE' | translate }}</mat-label> -->
                  <input matInput [ngxMatDatetimePicker]="picker"
                  (dateChange)="eDateChangedStart($event)"
                  [(ngModel)]="selectedDate" placeholder="{{ 'LOGS.DATE' | translate }}">
                  <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                  <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker> -->
                  <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <ngx-mat-datetime-picker
                  #picker
                  [showSpinners]="true"
                  [showSeconds]="false"
                  [enableMeridian]="true"
                >
                  <ng-template>
                    <span>OK</span>
                  </ng-template>
                </ngx-mat-datetime-picker>
                </mat-form-field>
              </div>
            </div>
            <button mat-stroked-button class="btn-refresh" (click)="clearForm()">
              {{'UNRET.REFRESH' | translate}}
            </button>
            <button mat-stroked-button class="btn-search" (click)="searchObject($event)">
              {{'UNRET.SEARCH' | translate}}
            </button>
          </div>


          <button class="add_user" [routerLink]="['add']" *ngIf="permissionObject?.add">
            <mat-icon>add</mat-icon> {{ "VISITOR_LIST.ADD_USER" | translate }}
          </button>
        </div>
      </div>
      <section class="visitor-list">
        
        <div class="table-responsive">
          <table class="table table-striped table-w">
            <thead>
              <tr>
                <th scope="col">{{ "VISITOR_LIST.SN" | translate }}</th>
                <th scope="col">{{ "VISITOR_LIST.USERNAME" | translate }} <img (click)="sortData('firstName')" src="assets/images/sort.png"></th>
                <th scope="col">{{ "VISITOR_LIST.EMAIL" | translate }} <img (click)="sortData('email')" src="assets/images/sort.png"></th>
                <th scope="col">{{ "VISITOR_LIST.STATUS" | translate }} <img (click)="sortData('userStatus')" src="assets/images/sort.png"></th>
                <th scope="col">{{ "VISITOR_LIST.CONTACT" | translate }} <img (click)="sortData('mobileNo')" src="assets/images/sort.png"></th>
                <th scope="col">{{ "VISITOR_LIST.ROLE" | translate }} <img (click)="sortData('roleName')" src="assets/images/sort.png"></th>
                <th scope="col">
                  {{ "VISITOR_LIST.LAST_LOGIN_ON" | translate }}
                  <img (click)="sortData('lastLoginOn')" src="assets/images/sort.png">
                </th>
                <th scope="col">{{ "VISITOR_LIST.ACTIONS" | translate }}</th>
              </tr>
            </thead>
            <tbody *ngIf="objectArray">
              <tr *ngFor="let user of objectArray;let i=index">
                <td>{{user?.sNo}}</td>
                <td>{{user?.userName}}</td>
                <td>{{user?.email}}</td>
                <td> {{user?.userStatus ? 'Active':'Blocked'}}</td>
                <td>{{user?.mobileNo}}</td>
                <td>{{user?.roleName}}</td>
                <td>{{user?.lastLoginOn == '0001-01-01T00:00:00' ? 'N.A' : user?.lastLoginOn | date:'medium'}}</td>
                <td>
                  <button *ngIf="permissionObject?.edit"><mat-icon class="edit" [routerLink]="['edit',user?.id]">edit</mat-icon></button>
                  <button *ngIf="permissionObject?.delete"><mat-icon class="delete" (click)="onDelete(user)">delete</mat-icon></button>
                </td>
              </tr>

            </tbody>
            <ng-container *ngIf="!objectArray?.length">
              <tr>
                <td colspan="8">
              <p class="datafound">{{'PROFILE.NO_DATA' | translate}} </p>
            </td>
          </tr>
            </ng-container>
          </table>
        </div>

        <div class="all-paginator" *ngIf="objectArray.length">
          <pagination [paginationList]="pagination" [selectedPageLimit]="currentPageLimit"
          [currentPage]="currentPage" (onPageChange)="getPage($event)" [lastPage]="lastpage">
        </pagination>
        </div>
      </section>
    </div>
  </div>
</section>
</div>
<!-- <app-footer></app-footer> -->
