.employee-section-list {
    .table-entries-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .show {
            display: inline-flex;
            align-items: center;
            font-size: 14px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            color: var(--black);

            ::ng-deep .mat-form-field-wrapper {
                padding-bottom: 0;

            }

            ::ng-deep .mat-select-arrow {
                color: var(--black);
            }

            ::ng-deep .mat-form-field-label {
                color: var(--black);
            }

            .mat-form-field {
                width: 69px;
                margin: 0 20px;
            }

            ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
                border-radius: 5px;
                background: var(--odd);
                border: 1px solid var(--border-clr);


            }

            ::ng-deep .mat-form-field-infix {
                border-top: none;
            }

            ::ng-deep .mat-form-field-underline {
                width: 0;
            }

            ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
                padding: 0.25em 0 0;
            }
        }

        .filters {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            ::ng-deep .mat-form-field-label {
                color: var(--black);
            }

            .search {
                padding: 5px 40px;
                background: var(--odd);
                border: 1px solid var(--border-clr);
                border-radius: 5px;
                width: 185px;
                height: 40px;

                &::placeholder {
                    font-size: 14px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 500;
                    color: var(--black);

                }
            }

            ::ng-deep .mat-form-field-wrapper {
                padding-bottom: 0;

            }

            .mat-form-field {
                width: 114px;
                margin: 0 20px;

                @media (max-width: 576px) {
                    margin: 0 0px;
                    margin-bottom: 10px;
                }


            }

            ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
                border-radius: 5px;
                background: var(--odd);
                border: 1px solid var(--border-clr);
                height: 40px;
                line-height: 26px;
            }

            ::ng-deep .mat-form-field-infix {
                border-top: none;
            }

            ::ng-deep .mat-form-field-underline {
                width: 0;
            }

            ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
                padding: 0.25em 0 0;
            }

            ::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
                /* transform: translateY(-50%); */
                display: none;
            }

            ::ng-deep .mat-checkbox-label {
                font-size: 14px !important;
                font-family: 'Open Sans', sans-serif;
            }

            @media (max-width: 576px) {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-start;
            }
        }

        @media (max-width: 576px) {
            display: flex;
            justify-content: space-between;
            flex-direction: column-reverse;
            align-items: flex-start;

        }
    }

    .visitor-list {
        h2 {
            margin: 20px 0;
            font-size: 16px;
            font-weight: 700;
            color: var(--green-dark);
            font-family: 'Open Sans', sans-serif;
        }

        .table-responsive {
            border: 2px solid var(--green);
        }

        table {
            thead {
                vertical-align: middle;
                height: 48px;
            }

            th {
                font-size: 12px;
                font-weight: 700;
                color: var(--black);
                font-family: 'Open Sans', sans-serif;

                img {
                    width: 9px;
                    cursor: pointer;
                }
            }

            td {
                font-size: 12px;
                font-weight: 500;
                color: var(--black);
                font-family: 'Open Sans', sans-serif;
                vertical-align: middle;

                button {
                    background: transparent;
                    border: none;

                    .mat-icon.delete {
                        margin-left: 20px;
                        color: #d80101 !important;
                        font-size: 20px;
                    }

                    .mat-icon.edit {
                        color: var(--black) !important;
                        font-size: 20px;
                    }
                }
            }

            tr:last-child {
                border-bottom: transparent;
            }
        }

        @media (max-width: 767px) {
            .table-w {
                width: 30em;
            }
        }
    }


    .table-striped>tbody>tr:nth-of-type(odd)>* {
        background: var(--even) !important;
    }

    .table> :not(caption)>*>* {
        background: var(--odd) !important;
        padding: 0.4rem 0.5rem !important;
        border-bottom-width: 2px !important;
    }

    .table-striped>tbody>tr:nth-of-type(odd)>* {
        --bs-table-accent-bg: var(--table-l-green) !important;
    }


    .table-striped>thead>tr>th:last-child {
        padding-right: 24px;
        width: 10%;

        @media (max-width: 767px) {
            width: 25%;
        }
    }

    td.overdue {
        color: red !important;
    }

    tbody {
        border-color: var(--green) !important;
    }

    .pegination {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .showing-entries {
            h5 {
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                color: var(--black);
            }
        }

        .pegination-link {
            ul {
                margin: 0;
                padding: 0;
            }

            li {
                display: inline-flex;
                padding-left: 15px;

                a {
                    font-size: 14px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    color: var(--black);
                    text-decoration: none;

                }
            }

        }

        @media (max-width: 576px) {
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    a.next {
        background: var(--odd) !important;
        border: 1px solid var(--page-border);
        border-radius: 5px;
        padding: 5px 10px;

    }

    a.prev {
        background: var(--odd) !important;
        border: 1px solid var(--page-border);
        border-radius: 5px;
        padding: 5px 10px;

    }

    .search-box {
        position: relative;


        input.search {
            position: relative;
        }

        img.img-search {
            position: absolute;
            margin-left: 4px;
            top: 12px;
            left: 5px;
        }

        @media (max-width: 576px) {
            margin-right: 6px;
            margin-bottom: 10px;
        }
    }

    .datafound {
        text-align: center;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 600;
    }

    .pl-0 {
        padding-left: 0 !important;
    }

    .form-hadding {
        margin-top: 0px;
        font-size: 16px;
        font-weight: 700;
        color: var(--green-dark);
        font-family: "Open Sans", sans-serif;
    }
}

.bcp-group-list {
    ::ng-deep .mat-select-panel .mat-option {
        font-size: 11px !important;
        height: 30px !important;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        color: var(--black);
    }

    ::ng-deep .mat-select-panel {
        max-width: 108px !important;
        background: #ECF9F7;
        border: 1px solid #BDD3D0;
    }

    ::ng-deep .mat-checkbox-frame {
        border-color: #03B39D;
    }

    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: #03B39D;
    }

    ::ng-deep .page-item .page-link,
    ::ng-deep .page-item.disabled .page-link {
        background-color: transparent;
    }
}

.employee-section-list-table {
    th {
        width: 33%;

        &:last-child {
            text-align: center;
        }
    }

    td {
        &:last-child {
            text-align: center;
        }
    }
}