<div class=" forgot-password">
<section class="login-sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 d-none d-md-block">
        <div class="row">
          <div class="auth-side-wrapper"></div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">        

          <div class="auth-form-wrapper px-4 py-5">

            <div class="show">
              <button mat-stroked-button color="black" class="btn-back" (click)="goBack()">
              <mat-icon>arrow_back</mat-icon>
              {{ "BUTTON.BACK" | translate }}
            </button>
            </div>



            <div class="inner-wrap">
              <div class="logo-sec">
                <img src="assets/images/senoko-logo.png" alt=".." />
                <p>{{ "LOGIN.TITLE" | translate }}</p>
                <h2 class="marginb">{{ "LOGIN.SUB_TITLE" | translate }}</h2>
                <!-- <a>{{ "LOGIN.FORGET_PASS" | translate }}</a> -->
              </div>



              <form [formGroup]="forgotForm">

                <div class="form-group paddingLabel required form-style" *ngIf="activeForm == 1">
                  <!-- <h3>{{'FORGOT_PASSWORD.MOBILE'|translate}}</h3> -->

                  <div class="text_field">
                    <label for="email_id">UserName</label>
                    <mat-form-field appearance="outline" class="w-100">
                      <input matInput [formControl]="forgotForm.controls['UserName']" type="text"
                        placeholder="Enter User Name">
                    </mat-form-field>
                    <mat-error *ngIf="submitted && forgotForm.controls['UserName'].errors"> 
                      Enter Valid UserName
                    </mat-error>
                  </div>

                  <div class="text_field mb-3 text-mb">
                    <label for="email_id">{{'FORGOT_PASSWORD.MOBILE_NO'|translate}}</label>
                    <!-- <mat-form-field appearance="outline" class="w-100 h-60">
                     
                      <input matInput [formControl]="forgotForm.controls['MobileNo']" type="tel"
                        placeholder="{{'FORGOT_PASSWORD.MOBILE'|translate}}"> 
                         <ngx-mat-intl-tel-input formControlName="MobileNo"
                         [onlyCountries]="['sg']"
                        [enablePlaceholder]="true"
                         name="phone" #MobileNo>
                      </ngx-mat-intl-tel-input>
                    </mat-form-field> -->
                    <div class="input-phone" [ngClass]="{'red-border-class': submitted && forgotForm.controls['MobileNo'].errors}">
                      <ng-container>
                        <ngx-intl-tel-input class="example-full-width" appearance="outline"
                        [preferredCountries]="['sg']" 
                        [onlyCountries]="['sg']"
                        [selectedCountryISO]="selectedCountryISO"
                        [maxLength]="8"
                        [enableAutoCountrySelect]="false"
                        [selectFirstCountry]="false"
                        [enablePlaceholder]="true"
                        [searchCountryPlaceholder]="
                          'PLACE_HOLDER.PHONE_SEARCH_COUNTRY' | translate
                        "
                        [searchCountryFlag]="false"
                        [separateDialCode]="true"
                        [phoneValidation]="true"
                        name="MobileNo"
                        formControlName="MobileNo"
                        customPlaceholder="65XXXXXX"
                        class="tel-input"
                      >
                      </ngx-intl-tel-input>
                      </ng-container>
                    </div>
                    <mat-error *ngIf="submitted && forgotForm.controls['MobileNo'].errors"> 
                      Enter Valid MobileNo
                    </mat-error>
                  </div>
                  <div class="button_submit">
                    <a>
                      <button mat-button type="submit" class="loginbutton btn btn-primary" (click) = "submitForm()">
                        {{ "LOGIN.NEXT" | translate }}
                        <img src="assets/images/arrow-white.svg" alt=".." class="ml-4" />
                      </button>
                    </a>
                  </div>
                </div>

                <!-- <div class="form-group paddingLabel required form-style">
                  <h3>Enter Password Reset Code</h3>
                  <div class="text_field">
                    <label for="email_id">{{'FORGOT_PASSWORD.ENTPASSRESETCODE'|translate}}</label>
                    <mat-form-field appearance="outline" class="w-100 h-60">
                      <div class="input-img">
                        <img src="assets/images/password.png" alt=".." />
                      </div>
                      <input matInput
                        placeholder="{{'FORGOT_PASSWORD.ENTPASSRESETCODE'|translate}}">
                    </mat-form-field>
                  </div>
                  <div class="button_submit">
                    <a>
                      <button mat-button type="submit" class="loginbutton btn btn-primary" (click) = "changesform(3)">
                        {{ "LOGIN.NEXT" | translate }}
                        <img src="assets/images/arrow-white.svg" alt=".." class="ml-4" />
                      </button>
                    </a>
                  </div>
                </div> -->

            
              </form>

              <!-- <app-reset-password  
              (changesformOutput) = "changesform($event)"
              ></app-reset-password> -->

              <div class="copy-rights">
                <p>
                  {{ "LOGIN.COPY_RIGHT" | translate }} &copy;
                  {{ "LOGIN.SENOKO" | translate }}
                  <span>{{ "LOGIN.ENERGY" | translate }}</span>
                  {{ "LOGIN.PVT" | translate }}
                  {{ "LOGIN.RESERVED" | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>