.forgot-password{

.login-sec {
  display: flex;
  flex-direction: column;

  .auth-side-wrapper {
    width: 100%;
    height: 100vh;
    background-image: url(../../../assets/images/login-banner.png);
    background-size: cover;
    padding: 0;

    &::after {
      background: #000000 0% 0% no-repeat padding-box;
      opacity: 0.4;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
    }
  }

  .auth-form-wrapper {
    background: var(--bg-gradient);
    height: 100vh;
    color: var(--white);
    display: flex;
    align-items: flex-start;
    overflow: auto;
    flex-direction: column;


    .inner-wrap {
      margin: auto;

      .logo-sec {
        img {
          margin-bottom: 14px;
        }

        a {
          color: var(--green);
          text-decoration: underline;
          margin: 0.8rem 0;
          display: inline-block;
          font-family: "Open Sans", sans-serif;
          font-size: 17px;
          font-weight: 500;

        }

        p {
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
          font-size: 15px;
        }

        h2 {
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
          font-size: 30px;
          color: var(--white);
        }
      }

      ::-webkit-input-placeholder {
        /* Edge */
        color: var(--mint-light-green);
      }

      :-ms-input-placeholder {
        /* Internet Explorer */
        color: var(--mint-light-green);
      }

      ::placeholder {
        color: var(--mint-light-green);
      }

      .form-label {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
      }

      .input-group-text {
        background-color: var(--bg-textbox);
        border-color: var(--border-light);
        color: var(--white);
        border-right: none;
        border-radius: 0;
        padding: 0.7rem 0.75rem;

        img {
          width: 17px;
        }
      }

      .form-control {
        background-color: var(--bg-textbox);
        border-color: var(--border-light);
        border-left: none;
        border-radius: 0;
        color: var(--white);

        &:focus {
          box-shadow: none;
        }
      }

      .forgot-password {
        margin-top: -15px;

        a {
          text-decoration: underline;
          text-align: right;
          display: block;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          color: white;
          font-weight: 500;
        }
      }

      .btn-primary {
        background-color: var(--bg-orange);
        border-color: var(--light-orange);
        color: var(--white);
        width: 100%;
        font-family: "Open Sans", sans-serif;
        padding: 10px;
        font-size: 16px;
        line-height: 25px;

        img {
          width: 25px;
          float: right;
          margin-top: 4px;
        }
      }

      .btn-secondary {
        background-color: transparent;
        border-color: var(--bg-orange);
        border: 1px solid var(--white);
        color: var(--white);
        width: 100%;
        font-family: "Open Sans", sans-serif;
        padding: 10px;
        font-size: 16px;
        line-height: 25px;

        img {
          width: 25px;
          float: right;
          margin-top: 4px;
        }
      }



      .copy-rights {
        margin-top: 4rem;

        p {
          font-size: 12px;
          font-family: "Open Sans", sans-serif;
          margin-bottom: 0;
        }

        span {
          color: var(--bg-orange);
        }
      }
    }
  }
}


::ng-deep .form-style .mat-form-field-appearance-outline .mat-form-field-outline {
  border: 1px solid var(--border-light);
  border-radius: 0px;
  background-color: var(--bg-textbox);

}

::ng-deep .form-style .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: transparent;
}

::ng-deep .form-style .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: transparent;
}

::ng-deep .form-style .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  margin-top: -7px;
  height: 52px;

  input {
    // padding-left: 95px;
    caret-color: #fff;
  }

  .country-selector{
    color: #fff;
    
  }

  .country-selector-code{
    margin-right: 10px !important;
  }

  .country-selector{
    opacity: 10;
  }
    
}

::ng-deep .form-style .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0px;
}


::ng-deep .form-style .mat-error {
  // width: 13em;
  margin-top: 4px;
}

.text_field{
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper{
    padding-bottom: 0;
  }
}
.input-img {
  border-color: var(--border-light);
  color: var(--white);
  border-right: none;
  border-radius: 0;
  padding: 0.75rem 0.75rem;
  width: 50px;

  img {
    width: 17px;
  }
}

.captch-div {
  input {
    height: 43px;
  }
}




.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: #ffffff00;
}

::ng-deep .step-three .mat-horizontal-stepper-header {
  height: 25px !important;
  padding-left: 0;
  margin-bottom: 16px;


}


::ng-deep .step-three  .mat-horizontal-content-container {
  padding: 0 24px 24px 0px !important;
}


::ng-deep .step-three  .mat-step-header .mat-step-label.mat-step-label-active {
  color: var(--white) !important;
}


::ng-deep .step-three  .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: var(--bg-orange);
}

::ng-deep .step-three .mat-step-icon {
  background-color: var(--green);
}


.mr-12{
  margin-right: 12px;
}

.form-style{
  h3{
    color: var(--green);
      font-weight: 600;
  }
}
@media (min-width: 992px) {

}

// ::ng-deep {
// .country-selector{
//   opacity:1 !important;
//   bottom:8px !important;
// }

// input:not(.country-search){
//   bottom: 3px;
//   left: 10px;
// }

// .country-list-button{
//   font-size: 0.8rem!important;
// }

// .mat-menu-content:not(:empty){
//   max-height:250px;
// }
 
// .mat-form-field{
//     width: 300px;
// }
// }

.marginb{
 margin-bottom: 40px;
}
}

::ng-deep .iti__flag-container {
  pointer-events: none;
}
::ng-deep{
.input-phone{
  position: relative;  
  border-radius: 0px;
  // background-color: var(--bg-textbox);
  // &.red-border-class { 
  //     border: red 2px solid;
  // }
  ngx-intl-tel-input{
      .iti__flag-container{
          position: absolute;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
      }
      input{
          height: 40px;
          padding-left: 45px !important;
          background-color: var(--bg-textbox);
          border: 1px solid var(--border-light);
          border-radius: 0px;
          caret-color: #fff;
          color: #fff;
          &::-webkit-input-placeholder {
            color: var(--mint-light-green);
          }
    
          &::-ms-input-placeholder {
            color: var(--mint-light-green);
          }
    
          &::placeholder {
            color: var(--mint-light-green);
          }
          &:focus{
              outline: 0;
              border: 1px solid var(--border-light);
              box-shadow: none;
              background-color: var(--bg-textbox);
              color: #fff;
          }
      }
  }
  
}
}
.text-mb{
  margin-top: 15px;
  label{
    margin-bottom: 2px;
  }
}