.card {
  background-color: var(--color-light-blue);
  border-radius: 1.5rem;
  padding: 1rem 2rem;

  @media (max-width:576px) {
    padding: 0;
    box-shadow: none;
  }
}

.card_details {
  background-color: var(--white);
  border-radius: 1rem;
  padding: 30px;
  box-shadow: 0px 4px 21px rgb(26 88 246 / 17%);

  @media (max-width:576px) {
    padding: 0;
    box-shadow: none;
  }

  .form-hadding {

    color: var(--dark-green);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 40px; 

    @media (max-width:576px) {
      padding: 20px 20px 20px 10px;
    }
  }

  .form_container {
    padding: 20px 20px 20px 20px;
    max-width: 500px;

    @media (max-width:576px) {
      padding: 20px 20px 20px 10px;
      max-width: 100%;
    }

    label {
      display: inline-block;
      padding: 10px 10px 10px 1px;
      color: var(--color-secondary);
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
    }

    .buttons {
      padding: 30px;

      @media (max-width:576px) {
        padding: 20px 0px 20px 0px;
      }

      .blue-btn {
        width: 200px;
        height: 48px;
        box-shadow: 0px 4px 21px rgba(26, 88, 246, 0.49);
        border-radius: 10px;
        //  
        background-color: var(--color-primary);
        color: var(--white);
        border: 2px solid var(--color-primary);
        text-decoration: none;

        &:hover {
          color: var(--color-primary);
          background-color: var(--white);
        }
      }

      .blue-line-btn {
        background-color: var(--white);
        height: 48px;
        width: 200px;
        border: 2px solid var(--color-primary);
        border-radius: 10px;
        margin-left: 35px;
        color: var(--color-primary);
        text-decoration: none;

        &:hover {
          background-color: var(--color-primary);
          color: var(--white);
          border: 2px solid var(--color-primary);
        }
      }
    }
  }
}

.eye-icon1 {
  position: absolute;
  right: -2px;
  top: -22px;
  cursor: pointer;
}

.eye-icon2 {
  position: absolute;
  right: -2px;
  top: -22px;
  cursor: pointer;
}

.eye-icon3 {
  position: absolute;
  right: -2px;
  top: -22px;
  cursor: pointer;
}

// ::ng-deep .mat-error#mat-error-0 {
//   margin-top: 10px;
// }

.paddingLabel {
  .text_field{
    label{
   margin-bottom: 3px;
    font-size: 16px;
    font-weight: 500;
    }
  }
  // ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid {
  //   .mat-form-field-outline-thick {
  //     color: rgba(0, 0, 0, 0.12) !important;
  //   }
  // }
}


.main-head{
  margin: 20px 0;
  font-size: 16px;
  font-weight: 700;
  color: var(--green-dark);
  font-family: "Open Sans", sans-serif;
}





.select-item {

  ::ng-deep .mat-select-placeholder {
    color: var(--light-gray-color) !important;
  }


  ::ng-deep .mat-select-value {
    color: var(--light-black) !important;
  }


  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(0 0 0 / 28%) !important;
  }


  // ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  //   color: transparent !important;
  //   border: 1px solid var(--input-line-color) !important;
  //   border-radius: 4px !important;
  // }


  // ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  //   padding: 0.4em 0 1em 0 !important;

  // }


  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 0.75em 0 0.75em !important;
    margin-top: -0.5em !important;
  }
ul{
  li{
    .close-icon{
      vertical-align: middle;
    }
  }
}

}



.addusers{
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
      color: var(--input-line-color) ;
  }
    

  ::ng-deep  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
      color: #f44336 !important;
  }
}