section {
    @media (max-width: 530px) {
       height: 80vh;
    }
}

.main-page {
    @media (max-width: 768px) {
        padding: 1em 1em;

        .col-md-3 {
            flex: 0 0 auto;
            width: 26%;
        }
    }

    .breadcrumb {

        & a,
        .active {
            color: var(--dark-green);
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.5px;
        }
    }

    .main-div {
        background-color: transparent;
        padding: 10px;
        box-shadow: none;

        .form-hadding {
            color: var(--dark-green);
            font-weight: 600;
            font-size: 20px;
            margin-top: 10px;
        }

        form {


            

            .slide_toggle {
                margin-top: 20px;
            }

            ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
                background-color: rgba(158, 247, 118, 0.815);
            }

            ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
                background-color: var(--button-bg);
            }


            .w-45 {
                width: 50%;
                margin-bottom: 10px;

                @media (max-width: 530px) {
                    width: 100%;
                }
            }

            & label {
                color: var(--dark-green);
                font-weight: 500;
                font-size: 16px;
            }

           

            .d-flex.justify-content-end.margin-y {
                @media (max-width: 530px) {
                    flex-direction: column !important;
                    grid-gap: 20px !important;
                }

            }
        }
    }
}



.select-item {

    ::ng-deep .mat-select-placeholder {
      color: var(--light-gray-color) !important;
    }
  
  
    ::ng-deep .mat-select-value {
      color: var(--light-black) !important;
    }
  
  
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
      color: rgb(0 0 0 / 28%) !important;
    }
  
  
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
      color: transparent !important;
      border: 1px solid var(--input-line-color) !important;
      border-radius: 4px !important;
    }
  
  
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0.4em 0 1em 0 !important;
  
    }
  
  
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
      padding: 0 0.75em 0 0.75em !important;
      margin-top: -0.5em !important;
    }
  
    ::ng-deep  .mat-select-arrow-wrapper {
        height: 0px !important;
    }
  }



  .addusers{

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        color: var(--input-line-color) ;
    }
      

    ::ng-deep  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
        color: #f44336 !important;
    }
}