<div class="side_container">
  <div>
    <div class="card_details">
      <div class="d-flex justify-content-between">
        <h3 class="form-hadding">Change Password</h3>
        <mat-icon class="cloes-btn"  (click)="closeDialog()">clear</mat-icon>
      </div>
      <div class="form_container">
        <form [formGroup]="addForm" (ngSubmit)="submitForm()">
          <div class="form-group paddingLabel required">
            <div class="text_field">
              <label for="old password">Old Password <em>*</em></label>
              <mat-form-field appearance="outline" class="w-100 h-60">
                <input [formControl]="addForm.controls['old_password']" matInput [type]="hide ? 'password' : 'text'"
                  placeholder="Old Password">
                  <mat-icon matSuffix class="eye-icon1" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
            </div>
            <div class="text_field">
              <label for="new password"> New Password <em>*</em></label>
              <mat-form-field appearance="outline" class="w-100 h-60">
                <input [formControl]="addForm.controls['new_password']" matInput [type]="hide1 ? 'password' : 'text'"
                  placeholder="New Password">
                  <mat-icon matSuffix class="eye-icon2" (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
                            <ul>
                <li>
                  <mat-error *ngIf="
                  addForm.get('new_password').touched &&  (addForm.get('new_password').hasError('hasSmallCase') ||
                  addForm.get('new_password').hasError('required'))
                  "> 
                    <mat-icon class="close-icon">close</mat-icon>{{ "PROFILE-NEW.AT_LOWERCE" | translate }}</mat-error>
                  
                </li>
                <li>
                  <mat-error *ngIf="
                  addForm.get('new_password').touched && (addForm.get('new_password').hasError('hasCapitalCase') ||
                  addForm.get('new_password').hasError('required'))
                  "> 
                    <mat-icon class="close-icon">close</mat-icon>{{ "PROFILE-NEW.AT_UPPERCASE" | translate }}</mat-error>
                </li>
                <li>
                  <mat-error *ngIf="
                  addForm.get('new_password').touched && (addForm.get('new_password').hasError('minlength') ||
                  addForm.get('new_password').hasError('required'))
                  "> 
                    <mat-icon class="close-icon">close</mat-icon>{{ "PROFILE-NEW.AT_CHARACTERS" | translate }}</mat-error>
                </li>
                <li>
                  <mat-error *ngIf="
                  addForm.get('new_password').touched &&  (addForm.get('new_password').hasError('hasNumber') ||
                  addForm.get('new_password').hasError('required'))
                  "> 
                    <mat-icon>close</mat-icon>{{ "PROFILE-NEW.AT_NUMBER" | translate }}</mat-error>    
                </li>
                <li>
                  <mat-error *ngIf="
                  addForm.get('new_password').touched && (addForm.get('new_password').hasError('hasSpecialCharacters') ||
                  addForm.get('new_password').hasError('required'))
                  "> 
                    <mat-icon class="close-icon">close</mat-icon>{{ "PROFILE-NEW.AT_SYMBOL" | translate }}</mat-error> 
                </li>
                  <li>
                  <mat-error *ngIf="currentUserDetail?.firstName == addForm.get('new_password').value"> 
                    <mat-icon class="close-icon">close</mat-icon>{{ "PROFILE-NEW.USER_NAME" | translate }}</mat-error>    
                </li>
              </ul>
            </div>
            <div class="text_field">
              <label for="Confirm password"> Confirm Password <em>*</em></label>
              <mat-form-field appearance="outline" class="w-100 h-60">
                <input [formControl]="addForm.controls['confirm_password']" [type]="hide2 ? 'password' : 'text'" matInput
                  placeholder="Confirm Password">
                  <mat-icon matSuffix class="eye-icon3" (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
              <mat-error *ngIf="
              addForm.get('confirm_password').touched &&  (addForm.get('confirm_password').hasError('validatePassword') ||
              addForm.get('confirm_password').hasError('required'))
              ">
                * Your Password and Confirm Password must be match
              </mat-error>
            </div>

            <div class="d-flex justify-content-center margin-y buttons">
              <button type="submit" mat-raised-button class="blue-btn">Save </button>
              <!-- <button mat-raised-button  class="blue-line-btn">Cancel</button> -->
            </div>

          </div>
        </form>
      </div>


    </div>
  </div>
