.card {
  background-color: var(--color-light-blue);
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  @media (max-width: 576px) {
    padding: 0;
    box-shadow: none;
  }
}

.card_details {
  background-color: var(--white);
  border-radius: 1rem;
  padding: 20px;
  box-shadow: 0px 4px 21px rgb(26 88 246 / 17%);
  @media (max-width: 576px) {
    padding: 0;
    box-shadow: none;
  }
  .form-hadding {
    color: var(--color-secondary);
    font-weight: 600;
    font-size: 22px;
    padding: 20px 20px 20px 20px;
    margin-bottom: 0;
    @media (max-width: 576px) {
      padding: 20px 20px 20px 10px;
    }
  }

  .form_container {
    padding: 20px 20px 20px 20px;
    max-width: 500px;
    @media (max-width: 576px) {
      padding: 20px 20px 20px 10px;
      max-width: 100%;
    }
    label {
      display: inline-block;
      padding: 10px 10px 10px 1px;
      color: var(--color-secondary);
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
    }

    .buttons {
      padding: 30px;
      @media (max-width: 576px) {
        padding: 20px 0px 20px 0px;
      }
      .blue-btn {
        width: 200px;
        height: 48px;
        box-shadow: 0px 4px 21px rgba(26, 88, 246, 0.49);
        border-radius: 10px;
        //
        background-color: var(--color-primary);
        color: var(--white);
        border: 2px solid var(--color-primary);
        text-decoration: none;

        &:hover {
          color: var(--color-primary);
          background-color: var(--white);
        }
      }

      .blue-line-btn {
        background-color: var(--white);
        height: 48px;
        width: 200px;
        border: 2px solid var(--color-primary);
        border-radius: 10px;
        margin-left: 35px;
        color: var(--color-primary);
        text-decoration: none;

        &:hover {
          background-color: var(--color-primary);
          color: var(--white);
          border: 2px solid var(--color-primary);
        }
      }
    }
  }
}

.eye-icon1 {
  position: absolute;
  right: -2px;
  top: -22px;
  cursor: pointer;
}

.eye-icon2 {
  position: absolute;
  right: -2px;
  top: -22px;
  cursor: pointer;
}

.eye-icon3 {
  position: absolute;
  right: -2px;
  top: -22px;
  cursor: pointer;
}

::ng-deep .delete-popup {
  .mat-dialog-container {
    border-radius: 20px;
  }
}

.delet-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;

  & img {
    width: 128px;
    height: 128px;
  }
  & h3 {
    color: var(--color-secondary);
    font-weight: 500;
    font-size: 22px;
    margin: 3rem 0rem 4rem 0rem;
  }

  .blue-btn {
    width: 200px;
    height: 48px;
    box-shadow: 0px 4px 21px rgba(26, 88, 246, 0.49);
    border-radius: 10px;
    margin-left: 15px;
    background-color: var(--color-primary);
    color: var(--white);
    border: 2px solid var(--color-primary);
    text-decoration: none;

    &:hover {
      color: var(--color-primary);
      background-color: var(--white);
    }
  }

  .blue-line-btn {
    background-color: var(--white);
    height: 48px;
    width: 200px;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    margin-left: 5px;
    color: var(--color-primary);
    text-decoration: none;

    &:hover {
      background-color: var(--color-primary);
      color: var(--white);
      border: 2px solid var(--color-primary);
    }
  }
}
.cloes-btn{
  cursor: pointer;
  color:var(--color-gray);

  &:hover{
    color:var(--red);
  }
}