<div class="green-bg">
<section class="visitor-addmision main-page">
  <div class="container" *ngIf="permissionObject?.list">
    <h2 class="form-hadding">{{ "LOGS.USER_AUDIT" | translate }}</h2>

    <div class="show mb-3">
      <button mat-stroked-button color="black" class="btn-back" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
      {{ "BUTTON.BACK" | translate }}
      </button>
    </div>

    <div class="visitor-addmission-inner">
      <div class="system-log-form addusers">
        <mat-accordion>
          <mat-expansion-panel [expanded]="1" (opened)="setStep1(0)" (closed)="panelOpenState1 = false" hideToggle>
            <!-- <mat-expansion-panel-header>
              <div class="system-log-icon">
                <h3>{{ "LOGS.SUB_HEAD2" | translate }}</h3>
                <div class="pannel-icon" (click)="reset()">
                  <mat-icon>refresh</mat-icon>
                   <mat-icon class="exp-more">expand_more</mat-icon>
                </div>
              </div>
            </mat-expansion-panel-header> -->

            <mat-expansion-panel-header #panelH1 (click)="panelH1._toggle()">
              <mat-panel-title class="d-flex justify-content-between align-items-center">
                <h3>{{ "LOGS.SUB_HEAD2" | translate }}</h3>
              </mat-panel-title>
              <div class="pannel-icon" (click)="reset()">
                <mat-icon>refresh</mat-icon>
                 
              </div>
              <mat-icon matTooltip="expand_more" *ngIf="!panelOpenState1" (click)="panelH1._toggle()">expand_more
              </mat-icon>
              <mat-icon matTooltip="expand_less" *ngIf="panelOpenState1" (click)="panelH1._toggle()">expand_less
              </mat-icon>
            </mat-expansion-panel-header>

            <div class="audit-row select-item">
              <div class="add-feild">
                <!-- <label>{{ "VISITOR_LIST.USERNAME" | translate }}</label> -->
                <div class="form-group vmsadd">
                  <mat-form-field appearance="outline">
                    <!-- <mat-label>{{ "LOGS.ERROR" | translate }}</mat-label> -->
                    <input  [(ngModel)]="text2"  matInput placeholder="{{ 'LOGS.USERNAME' | translate }}" />
                    <!-- <mat-select placeholder="{{ 'LOGS.INFO' | translate }}"  [(ngModel)]="text2">
                      <mat-option value="one" aria-selected="true">{{ "LOGS.INFO" | translate }}</mat-option>
                      <mat-option value="two">{{ "LOGS.INFO" | translate }}</mat-option>
                    </mat-select> -->
                  </mat-form-field>
                </div>
              </div>

              <div class="add-feild">
                <!-- <label>{{ "VISITOR_LIST.USERNAME" | translate }}</label> -->
                <div class="form-group vmsadd">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <input  [(ngModel)]="text"  matInput placeholder="{{ 'LOGS.MODULE' | translate }}" />
                  </mat-form-field>
                </div>
              </div>
              <div class="add-feild">
                <!-- <label>{{ "VISITOR_LIST.USERNAME" | translate }}</label> -->
                <div class="form-group vmsadd">
                  <mat-form-field appearance="outline">
                    <input matInput [ngxMatDatetimePicker]="picker" [max]="maxDate" 
                    [(ngModel)]="selectedDate" 
                    (dateChange)="eDateChangedStart($event)" 
                    placeholder="{{ 'LOGS.DATE' | translate }}">
                    <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker> -->
                    <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <ngx-mat-datetime-picker
                    #picker
                    [showSpinners]="true"
                    [showSeconds]="false"
                    [enableMeridian]="true"
                  >
                    <ng-template>
                      <span>OK</span>
                    </ng-template>
                  </ngx-mat-datetime-picker>
                  </mat-form-field>


                  <!-- <mat-form-field
                  appearance="outline"
                  class="example-full-width"
                  [floatLabel]="'never'"
                >
                  <input
                    matInput
                    [max]="maxDate"
                    [ngxMatDatetimePicker]="picker"
                    [(ngModel)]="selectedDate"
                    
                    matInput
                    placeholder="{{ 'LOGS.DATE' | translate }}"
                    
                    (dateChange)="eDateChangedStart($event)"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <ngx-mat-datetime-picker
                    #picker
                    [showSpinners]="true"
                    [showSeconds]="false"
                    [enableMeridian]="true"
                  >
                    <ng-template>
                      <span>OK</span>
                    </ng-template>
                  </ngx-mat-datetime-picker>
                </mat-form-field> -->



                </div>
              </div>
              <!-- <div class="add-feild vmsadd">
                <div class="form-group">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <input [(ngModel)]="usersName" type="text" matInput placeholder="{{ 'LOGS.FILE_NAME' | translate }}" />
                  </mat-form-field>
                </div>
              </div> -->
              <div class="button-right">
                <button class="Search_user w-100" (click)="onSearch($event)"> {{ "LOGS.SEARCH" | translate }}</button>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="table-entries-header mb-4">
        <div class="show">
          <!-- <span class="shown">{{ "VISITOR_LIST.SHOW" | translate }}</span>
            <mat-form-field appearance="outline">
              <mat-label>10</mat-label>
              <mat-select disableRipple>
                <mat-option value="1">9</mat-option>
                <mat-option value="2">8</mat-option>
                <mat-option value="3">7</mat-option>
              </mat-select>
            </mat-form-field>
            <span class="entries">{{ "VISITOR_LIST.ENTRIES" | translate }}</span> -->
        </div>
        <div class="filters">
          <button (click)="DownloadExcel()" *ngIf="userAuditList?.length">
            <span><img src="assets/images/excel.svg" /></span>
            {{ "VISITOR_LIST.EXPORT_E" | translate }}
          </button>
          <!-- <button>
              <span><img src="assets/images/pdfs.svg" /></span>
              {{ "VISITOR_LIST.EXPORT_P" | translate }}
            </button> -->
          <!-- <div class="search-box">
            <search-box  (text)="searchObject($event)" [placeholder]="'Search here...'"></search-box>
          </div> -->
          <!-- <mat-form-field appearance="fill">
            <mat-label><img src="assets/images/filter.svg" /> &nbsp;
              {{ "VISITOR_LIST.FILTER" | translate }}</mat-label>
              <mat-select placeholder="Filter" multiple [(ngModel)]="selected">
                <mat-option
                *ngFor="let list of items; index as i"
                (click)="selectCol(list?.viewValue,i)"
                [value]="list?.viewValue"
                >{{list.viewValue}}</mat-option>
              </mat-select>
          </mat-form-field> -->

          <form [formGroup]="form">
            <mat-form-field appearance="fill">
              <mat-label><img src="assets/images/filter.svg" /> &nbsp;
                {{ "VISITOR_LIST.FILTER" | translate }}</mat-label>
              <mat-select placeholder="Filter" formControlName="model" multiple>
                <mat-checkbox class="mat-option" 
                [indeterminate]="isIndeterminate()" 
                [checked]="isChecked()" 
                (click)="$event.stopPropagation()"
                (change)="toggleSelection($event)">
                Select All
               </mat-checkbox> <hr>
                <ng-container *ngFor="let list of items; index as i">
                  <mat-option               
                  (click)="selectCol(list?.viewValue,i)"
                  [value]="list?.viewValue"
                  >{{list.viewValue}}</mat-option>                
                </ng-container>
              </mat-select>
            </mat-form-field>
          </form>
        </div>
      </div>

      <section class="visitor-list">
        <div class="table-responsive">
          <table class="table table-striped table-w" #epltable>
            <thead>
              <tr>
                <th scope="col">{{ "VISITOR_LIST.SN" | translate }}</th>
                <th scope="col" *ngIf="source">{{"LOGS.UA_TABLE.SOURCE_UA" | translate }} <img (click)="sortData('source')" src="assets/images/sort.png"></th>
                <th scope="col" *ngIf="module">{{"LOGS.UA_TABLE.MODULE_UA" | translate }} <img (click)="sortData('module')" src="assets/images/sort.png"></th>
                <th scope="col" *ngIf="captureDateTime">{{"LOGS.UA_TABLE.CAPTURE_UA" | translate }} <img (click)="sortData('captureDateTime')" src="assets/images/sort.png"></th>
                <th scope="col" *ngIf="information">{{"LOGS.UA_TABLE.INFORMATION" | translate }} <img (click)="sortData('information')" src="assets/images/sort.png"></th>
                <th scope="col" *ngIf="userName">{{"LOGS.UA_TABLE.USER_NAME" | translate }} <img  (click)="sortData('userName')" src="assets/images/sort.png"></th>

              </tr>
            </thead>
            <tbody *ngIf="userAuditList?.length && permissionObject?.list">
              <tr *ngFor="let userAudit of userAuditList;let i=index">
                <td>{{userAudit?.sNo}}</td>
                <td *ngIf="source">{{userAudit?.source}}</td>
                <td *ngIf="module">{{userAudit?.module}}</td>
                <td *ngIf="captureDateTime">{{userAudit?.captureDateTime | date:'short'}}</td>
                <td *ngIf="information" class="cls_information">{{userAudit?.information}}</td>
                <td *ngIf="userName">{{userAudit?.userName}}</td>
              </tr>

            </tbody>
            <ng-container *ngIf="!userAuditList?.length">
              <tr>
                <td colspan="6">
                  <p class="datafound">{{'PROFILE.NO_DATA' | translate}} </p>
                </td>
              </tr>
            </ng-container>
          </table>
        </div>

        <div class="all-paginator" *ngIf="userAuditList?.length && permissionObject?.list">
          <pagination [paginationList]="pagination" [selectedPageLimit]="currentPageLimit"
          [currentPage]="currentPage" (onPageChange)="getPage($event)" [lastPage]="lastpage"></pagination>
        </div>
      </section>
    </div>
  </div>
</section>
</div>
<!-- <app-footer></app-footer> -->
